/* ===== MIXIN PARA CARDS ===== */
@mixin card-style {
    border-radius: $radius-card;
    border: 1px solid #eee;
    box-shadow: $shadow-soft;
    transition: 0.2s;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* ===== CARDS ===== */
.card {
    @include card-style;

    &:hover {
        transform: translateY(-4px);
    }

    .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;

        p {
            flex: 1;
            margin-bottom: 1rem;
        }
    }
}
