header {
    background: #fff;
    padding: 1rem 0;
    box-shadow: $shadow-header;

    .nav-link {
        color: $color-text;
        font-weight: 500;

        &:hover {
            color: $color-primary;
        }
    }
}
