/* ===== VARIABLES ===== */

$font-main: "Inter", sans-serif;

$color-bg: #ffffff;
$color-text: #111827;
$color-muted: #6b7280;
$color-primary: #0071e3;

$shadow-soft: 0 10px 28px rgba(0, 0, 0, 0.08);
$shadow-header: 0 2px 10px rgba(0, 0, 0, 0.05);

$radius-card: 15px;
